h2 {
  
  font-size:20px;
  font-weight:bold;
  font-family:Verdana;
  text-align:left; 
  margin-bottom:5; 
  color:#600000;

}

li {
 
  font-size:20px;

}

label {
  
font-size:20px;
color: #607D8B

}